* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

header .container-haeder{
    height: 80px;
    /* background-color: #2e3a46; */
    background-color: salmon;
}

main {
    min-height: calc(100vh - 80px);
    /* background-color: #1e2d3b; */
    background-color: aquamarine;
}

img{
    max-width: 100%;
}

/********************** particular rules for header **********************/
.container-haeder .haederInformation{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px;
}

.container-haeder .haederInformation #headertext{
    color: red;
    font-size: large;
}

.container-haeder .haederInformation input{
    width: 400px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

/********************** particular rules for main **********************/
/* .bandiera img{
    padding: 10px;
    width: 45px;
} */

    /* ul filmList */
.filmList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 10px;
    list-style: none;
    position: relative;
}

.filmElement{
    flex-basis: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    /* background-color: #2e3a46; */
    background-color: seagreen;
    position: relative;
}

.filmElement:hover .mockup{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    /* color: yellow; */
}

.mockupElement{
    display: none;
}

.filmElement:hover .mockup .mockupElement{
    display: block;
    position: absolute;
    transform: translate(-50%);
    font-size: 10px;
    top: 50%;
    left: 50%;
    color: red;
}

    /* ul serieTVList */
.serieTVList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 10px;
    list-style: none;
}
    
.serieTVElement{
    flex-basis: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    /* background-color: #2e3a46; */
    background-color: seagreen;
}