<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Boolflix</title>
</head>
<body>

    <div id="app">
        <header>
            <div class="container-haeder">
                <div class="haederInformation">
                    <strong id="headertext">BOOLFLIX</strong>
                    <input type="text" placeholder="Inserisci un titolo e premi invio" @keyup.enter="filtroCerca" v-model="cerca">
                </div>
            </div>
        </header>
    
        <main>
            <div>
                <!-- lista dei FILM -->
                <ul class="filmList">
                    <li v-for="film in listaFilm" class="filmElement">
                        <h2>{{film.title}}</h2>
                        <h3>{{film.original_title}}</h3>
                        <!-- change language con bandiera -->
                        <!-- <p>{{film.original_language}}</p> -->
                        <div class="bandiera" v-if="film.original_language === 'it'"> 
                            <img :src="`img/${film.original_language}.jpg`"> 
                        </div>
                        <div class="bandiera" v-else-if="film.original_language === 'en'"> 
                            <img :src="`img/${film.original_language}.jpg`">
                        </div>
                        <div class="bandiera" v-else-if="film.original_language === 'es'"> 
                            <img :src="`img/${film.original_language}.jpg`">
                        </div>
                        <div class="bandiera" v-else>{{ film.original_language}}</div>
                        <!-- end change language con bandiera -->
                        <!-- change voto con stelle -->
                        <!-- <p>{{film.vote_average}}</p> -->
                        <div class="votazione">
                            <!-- approssima il voto per eccesso -->
                            <i v-for="stelle in approxVote(film.vote_average)" class="fas fa-star"></i>
                            <!-- stelle che rimangono vuote -->
                            <i v-for="stelle in 5 - approxVote(film.vote_average)" class="far fa-star"></i>
                        </div>
                        <!-- end change voto con stelle -->
                    </li>
                </ul>
                <!-- fine lista dei FILM -->
                <!-- lista delle SERIE TV -->
                <ul class="serieTVList">
                    <li v-for="serie in listaSerieTv" class="SerieTVElement">
                        <h2>{{serie.name}}</h2>
                        <h3>{{serie.original_name}}</h3>
                        <!-- change language con bandiera -->
                        <!-- <p>{{serie.original_language}}</p> -->
                        <div class="bandiera" v-if="serie.original_language === 'it'"> 
                            <img :src="`img/${serie.original_language}.jpg`"> 
                        </div>
                        <div class="bandiera" v-else-if="serie.original_language === 'en'"> 
                            <img :src="`img/${serie.original_language}.jpg`">
                        </div>
                        <div class="bandiera" v-else-if="serie.original_language === 'es'"> 
                            <img :src="`img/${serie.original_language}.jpg`">
                        </div>
                        <div class="bandiera" v-else>{{serie.original_language}}</div>
                        <!-- end change language con bandiera -->
                        <!-- change voto con stelle -->
                        <!-- <p>{{serie.vote_average}}</p> -->
                        <div class="votazione">
                            <!-- approssima il voto per eccesso -->
                            <i v-for="stelle in approxVote(serie.vote_average)" class="fas fa-star"></i>
                            <!-- stelle che rimangono vuote -->
                            <i v-for="stelle in 5 - approxVote(serie.vote_average)" class="far fa-star"></i>
                        </div>
                        <!-- end change voto con stelle -->
                    </li>
                </ul>
                <!-- fine lista delle SERIE TV -->
            </div>
        </main>
    </div>
    

        <script src="js/script.js"></script>

</body>
</html>